<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WP Exam</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    <form id="filter-form" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="nameSearch">Name</label>
                <input id="nameSearch" type="text" class="form-control" name="nameSearch"/>
            </div>
            <div class="form-group col-md-4">
                <label for="categoryId">Category</label>
                <select id="categoryId" class="form-control" name="categoryId">
                    <option value="">All</option>
                    <!-- For each category you should have one <option> like below  -->
                    <option th:each="cat: ${categories}" th:text="${cat.name}" th:value="${cat.id}"> [cat.name]</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button id="filter" type="submit" class="btn btn-primary mt-4">Filter</button>
            </div>
        </div>
    </form>

    <div class="mb-3">
        <a href="/products/add" class="btn btn-success add-item" sec:authorize="hasRole('ROLE_ADMIN')">
            Add new product
        </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Product name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Categories</th>
            <th>Creator</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- For each product you should have one <tr> like below -->
        <tr class="item" th:each="prod: ${products}">
            <td th:text="${prod.name}">[prod.name]</td>
            <td th:text="${prod.price}">[prod.price]</td>
            <td th:text="${prod.quantity}">[prod.quantity]</td>
            <td>
                <ul>
                    <!-- For each product's category you should display one <li> element like the one below -->
                    <li th:each="cat: ${prod.categories}" th:text="${cat.name}">[cat.name]</li>
                </ul>
            </td>
            <td th:text="${prod.creator}">[prod.creator]</td>
            <td>
                <!-- ProductsController.delete -->
                <form th:method="post" th:action="@{'/products/{id}/delete' (id=${prod.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="submit" class="btn btn-danger delete-item">Delete</button>
                </form>
                <!-- ProductsController.showEdit -->
                <a th:href="@{'/products/{id}/edit' (id=${prod.id})}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary edit-item">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <ul id="nav" class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
